body {
    background: url("https://sportshub.cbsistatic.com/i/2022/07/06/44be5d81-877e-49f1-a113-8e71ac686c56/mob-psycho-100-body-improvement-club.jpg") no-repeat ;
    background-size: cover;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

#clear-btn {
    background: black;
}

.counter-color {
    color: #0D0D0D;
    text-shadow: #FC0 1px 0 10px;
}

.font-white {
    color: #03071e;
    text-shadow: #FC0 1px 0 10px;
    font-size: 25px;
}

.rep-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.max-width {
    max-width: auto;
}